<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
    <title>eSmart Code Generator</title>
</head>
<body>

    <a href="/pit">go to state PIT page</a>

    <script>
        var rowNum = 0;
        var taxForm = {};
        function addRow(frm) {
            rowNum++;
            var row = '<tr id="rowNum' + rowNum + '"> ' +
                      '<td name="name[]" >' + frm.property.value + '</td> ' +
                      '<td name="qty[]" >' + frm.datatype.value + '</td> ' +
                      '<td><input type="button" value="Remove" onclick="removeRow(' + rowNum + ');"><td></tr>';
            $('#tb').append(row);

            taxForm[frm.property.value] = frm.datatype.value;
            console.log(taxForm);

            frm.datatype.value = '';
            frm.property.value = '';
        }

        function removeRow(rnum) {
            var row_id = '#rowNum' + rnum;
            $(row_id).remove();
        }

        function printForm() {
            console.log('print object contents ...');
            console.log(taxForm);
        }

        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function() {
            $('#genfile').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/temp_json', taxForm, function(data)
                {
                    $("#flag").text(data.flag);
                });
                return false;
            });
        });
    </script>

    <form method="post">
        <input type="text" name="form name" required>
        <div id="itemRows">
            <input onclick="addRow(this.form);" type="button" value="Add row" /> <br>
            <input type="text" name="property" placeholder="property name"/> <input type="text" name="datatype" placeholder="data type"/>
        </div>
    </form>

    <a href="#"  onclick="printForm()">print object</a>
     -- <a href=# id=genfile>generate files</a>

    <table id="tb" border="true">
        <tr id="tr_head">
            <td>property name</td>
            <td>data type</td>
            <td>--</td>
        </tr>
    </table>
</body>
</html>