<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>eSmart Code Generator</title>
</head>
<body>

    <h1>State Form code generator</h1>

    <div id="linkBtn">
        <a href="#"  onclick="printForm()">print object</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <a href=# id=genfile>generate files</a>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function() {
            $('#genfile').bind('click', function() {
                var formName = $('#formName').val();
                var formType = $('input:radio[name=formType]:checked').val();
                if(formName == '' || formName == null) {
                    alert('form name is required');
                    return;
                }
                formAtt['formName'] = formName;
                formAtt['formType'] = formType;
                $.ajax({
                    type: "GET",
                    url: $SCRIPT_ROOT + '/temp_json',
                    data: formAtt,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                       //do something
                    },
                    error: function (errormessage) {
                        //do something else
                    }
                });
                return false;
            });
        });
    </script>

    <form method="post">
        <input type="radio" name="formType" value="PIT" checked>PIT &nbsp
        <input type="radio" name="formType" value="UI">UI &nbsp
        <input type="text" id="formName" name="form name" placeholder="Form name">
        <div id="itemRows">
            <input type="text" name="property" placeholder="property name"/>
            <select name="datatype">
                <option value="">--select data type--</option>
                <option>bool</option>
                <option>DateTime</option>
                <option>double</option>
                <option>int</option>
                <option>string</option>
            </select>
            <input onclick="addRow(this.form);" type="button" value="Add row" />
        </div>
    </form>

    <table id="tb" data-role="table" class="ui-responsive" border="1">
        <tr id="tr_head">
            <td>property name</td>
            <td>data type</td>
            <td>--</td>
        </tr>
    </table>
</body>
</html>