body, #tb, #tr_head{
    text-align: center;
}

#tr_head{
    color: #ff0005;
}

#tb{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#tr_head td{
     width: 200px;
}

#linkBtn{
    margin-bottom: 20px;
}